
@mixin sidebar-bg($info) {
  background: rgba(54, 62, 98, 0.70);
  color: $moonLite;
  a {
   color: $moonLite;
  }
}


#sidebar-main-wrapper {

 @include sidebar-bg($info);
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
    }
  }
}


