
@mixin sidebar-bg($info) {
  background: $dark;
  color: $vividBlue;
  a {
   color: $vividBlue;
  }
}


#sidebar-main-wrapper {

 @include sidebar-bg($info);
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
    }
  }
}

.sidebar-footer-widget {

 @include sidebar-bg($info);
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
    }
  }
}




