#backtotop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  opacity: 1;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background:lighten($info,25%);
    transition: 0.5s ease-in-out;
    color: $moonLite;
  }

  &.hidden {
    z-index: -1;
    opacity: 0;
  }
}
