

// ----------------------THEME COLORS XAVF.BIZ -----------------//

//$moonLite: #F4EEF9
$paleWhite: #B7B5C3
$lightGrey: #7F7F7F
$darkGrey: #5B5759
$iron: #4C4C4C
$tungsten: #333333
$deepBlue: #1E008C
$midniteBlueText: #141731

//------------------------ TYPOGRAPHY ----------------------------//

body, html
  -webkit-font-smoothing: antialiased
  font-family: 'Advent Pro', sans-serif !important
  a
    font-family: 'Advent Pro', sans-serif !important    
   
  p
    font-family: 'Advent Pro', sans-serif !important    
    

  h1, h2, h3, h4, h5, h6 
    font-family: 'Oswald', sans-serif !important
    font-weight: normal
    font-style: normal
    text-rendering: optimizeLegibility
    margin-top: 0
    margin-bottom: 0.5rem
    line-height: 1.4
    a
     font-family: 'Oswald', sans-serif !important


//------------------------ TOP NAV ----------------//

.navbar-brand, .nav-link
  font-size: .7rem !important 
  font-family: 'Advent-Pro', sans-serif !important
  font-weight: 100
  letter-spacing: .2em



.navbar-nav .nav-item
 &:last-child .nav-link 
    padding-right: 0 !important

.navbar-nav .nav-item
 &:first-child .nav-link 
    padding-top: 0

.navbar-toggler
  border: 0 !important

// ---------------------- FRONT PAGE --------------------------- //






//----------------------- HERO UNIT -------------------------------//

.masthead
  height: 45vw
    



h1.site-title
  letter-spacing: .2em
  font-weight: 400
  font-size: calc(.7rem + 1.5vw)
  @extend .mt-4

p.desc
  font-size: calc(.4rem + 1.5vw)



//----------------------- HOME PAGE POSTS LAYOUT ------------------//

.home

  .wp-block-embed
    margin: .5rem 0!important 
  .post
    .has-text-align-right
      display: none

.btn-post-container
  height: 100% 
  display: table-cell 
  text-align: center     

.archive
  .has-text-align-right
    display: none
  .wp-block-embed
    margin-top: 0 !important


//.entry-footer 
  

.card-body
  padding-left: .75rem !important
  padding-right: .75rem !important


.post-title
  height: 40px
  width: 100%


.img-thumb
 height: 250px !important
 width: 100% !important

.post-info
  min-height: 100px
  width: 100%

.card-subtitle
  color: $midniteBlueText

.card-subtitle .tag
 text-indent: 2.65em hanging !important
 height: 60px
  

.btn-container
 @extend .d-flex !optional
 @extend .mx-auto  !optional
 @extend .py-2 !optional


// ------------- AJAX LOAD MORE ----------------------------------
.alm-btn-wrap
  text-align: center
  margin: 3rem 0

//------------- POST TEMPLATE SINGLE EMBED ----------------------

.post-masthead 
  height: 20vw


.wp-block-embed
  @extend .mt-4 !optional


iframe 
   display: flex 
   flex-direction: row
   position: relative
   width: 100%
   height: 100%
   overflow-x: clip
   padding-top: 0

.post-template-single-embed
  iframe 
   display: flex 
   flex-direction: row
   position: relative
   width: 100%
   height: auto
   overflow-x: clip






//------------------------ SEARCH TEMPLATE -----------------------

.search
  .post-masthead
    border-bottom: 1px solid #687EFF
  .is-background
    display: none
  h4
    font-size: 2rem


//-------------------------- MODAL SEARCH ------------------------

body.modal-open 
    padding-right: 0px !important

.modal-header
  background: $midniteBlueText
  h5
    color: #F4EEF9

.modal-header .btn-close
  margin-left: 0 !important
  color: F4EEF9 

.search-form
  min-height: 15rem

.form-control
 &:focus
  box-shadow: 0 0 0 0.25rem rgba(54, 62, 98, 0.15) !important


//input:-webkit-autofill,
//input:-webkit-autofill:hover, 
//input:-webkit-autofill:focus,
//textarea:-webkit-autofill,
//textarea:-webkit-autofill:hover,
//textarea:-webkit-autofill:focus,
//select:-webkit-autofill,
//select:-webkit-autofill:hover,
//select:-webkit-autofill:focus 
// border: 1px solid green
// -webkit-text-fill-color: green
// -webkit-box-shadow: 0 0 0px 1000px #000 inset
// transition: background-color 5000s ease-in-out 0s



//-------------------------- FOOTER NAV ---------------------------

a.navbar-brand.fw-light
   font-family: 'Advent Pro'
   font-size: .8rem !important
   letter-spacing: .2em

.footer-menu.navbar-nav 
  a 
   font-family: 'Advent Pro'
   font-size: .8rem
   letter-spacing: .2em
   padding-left: 0 !important

  









