
@media (min-width: 768px)

  .navbar-brand, .nav-item .nav-link 
    font-size: .9rem !important


  .navbar-nav .nav-item
    &:first-child .nav-link 
      padding-top: 8px


  .masthead
    height: 30vw
  


  h1.site-title
    font-size: calc(2rem + 2vw)




  .btn-post-container
    text-align: right
    vertical-align: bottom


  .footer-menu.navbar-nav 
    a
      padding-left: 27px !important 

